*.sublime-workspace
onMarket.pkl
SavedListings.pkl
.DS_Store
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Config Details
config.json

# Saving for Dexterity
houseHunter.py

# Not for Public Use
listings.csv
SavedListings.csv
SavedListings.json
all_zip_codes.json
unique_utah_agents.csv
unique_utah_agents_updated.csv
contacts.csv
county_city_zip_codes.json
county_zip_codes.json
web_scraping.py
bama*
all_zip_codes.json